* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FBF8F1;
    color: #483434;
    -webkit-overflow-scrolling: touch;
    font-family: Cormorant Unicase;
    font-weight: 800;
}

img {
    width: 70px;
    height: 70px;
}

h4 {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #483434;
}

.cormorant {
    font-family: Cormorant Unicase;
}

.sidebar {
    width: 18%;
    background: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
    padding: 30px;
    z-index: 1000;
}

.bartop {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: solid #483434 2px;
}

.content {
    margin-left: 20%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    white-space: nowrap;
    flex-wrap: wrap;
}

.order-card {
    flex: 0 0 auto;
    width: 280px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px #483434;
    padding: 10px;
    margin: 10px 0;
}

.order-header {
    font-weight: bold;
    font-size: 5rem;
    background-color: #5682b1;
    width: 100%;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.order-id {
    font-size: 0.9rem;
}

.order-time {
    font-size: 0.9rem;
}

.order-type {
    font-size: 0.9rem;
    border-bottom: solid #483434 1px;
}

.menu-name {
    font-size: 0.9rem;
}

.option-name {
    font-size: 0.9rem;
    color: rgba(0, 0, 128, 0.575);
    text-indent: 5%;
}

.menuqua {
    text-indent: 5%;
}

.bgqua {
    background-color: #483434;
    color: white;
}

.btn {
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    background-color: #5682b1;
    color: white;
}

.chinnakorn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.05);
    pointer-events: none;
    z-index: 0;
    user-select: none;
    white-space: nowrap;
}