main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    color: white;
    margin: 0;
}

.logo {
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    margin-left: 0;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 1rem;
  transition: color 0.3s ease;
}


section {
    min-height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #110674;
    padding: 50px 20px;
}

.category-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

.category-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #483434;
    padding-top: 1%;
    padding-bottom: 5%;
}

.menu-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.menu {
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}

.menu:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px #5682b1;
    transition: all 0.2s ease;
}

.menu-card {
    padding: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-name {
    margin-top: 10px;
    font-size: 1.1rem;
    text-align: center;
    color: #483434;
}